{% load static %}


<div class="container my-5">
    <h2 class="text-center mb-4">Nos Partenaires</h2>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        <!-- Premier partenaire -->
         {% for partner in partenaires %}
        <div class="col">
            <div class="card partner-card text-center">
                <img src="{{ partner.logo.url }}" alt="Partenaire 1" class="card-img-top partner-logo mx-auto mt-3">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ partner.url }}" target="_blank">{{ partner.name }} </a></h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<style>
    .partner-logo {
        max-width: 200px;
        max-height: 150px;
        object-fit: contain;
    }
    .partner-card {
        border: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .partner-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>