{% extends "base.html" %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block css %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
    }
    .container {
        margin-top: 20px;
    }
    .article-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .sidebar {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .article-list li {
        margin-bottom: 10px;
    }
    .banner {
        background-image: url({% static 'img/IMG_0474.jpg' %});
        background-size: cover;
        background-position: center;
        color: white;
        padding: 100px 20px;
        text-align: left;
        position: relative;
    }
    .banner h1 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 10px;
        color: #055b47;
    }
    .banner p {
        font-size: 1.2em;
    }
    .breadcrumb {
        position: absolute;
        bottom: 10px;
        left: 20px;
        color: white;
    }
</style>
{% endblock %}

{% block content %}

  {% block baniere %}
    {% include "blog/partials/blog_baniere.html" %}
  {% endblock %}

    <div class="container">
        <div class="row">
            {% comment %} Main {% endcomment %}
            <div class="col-md-8 article-content">
               {% comment %} Contenu des post/article/publication {% endcomment %}
            {% include "blog/partials/articles.html" %}
            {% block main_content %}

           {% comment %}    {% endcomment %}

            {% endblock %}
            </div>

            <div class="col-md-4 sidebar">
                {% block sidebar %}
                {% include 'blog/partials/sidebar_category.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock  %}
{% block js %}{% endblock %}
