{% extends 'base.html' %}

{% block title %}Créer un article{% endblock %}

{% block content %}

<div class="card shadow-lg p-4 mb-4">
    <h2 class="text-center mb-4">Ajouter un Article</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Titre</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Image Principale</label>
            <input type="file" class="form-control" name="image">
        </div>
        
        <div class="mb-3">
            <label class="form-label">Introduction</label>
            <textarea class="form-control" name="introduction" rows="3"></textarea>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Catégories</label>
            <select class="form-select" name="categories" multiple>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Topics</label>
            <select class="form-select" name="topics" multiple>
                {% for topic in topics %}
                    <option value="{{ topic.id }}">{{ topic.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        {% for i in "1234" %}
        <div class="mb-3">
            <label class="form-label">Sous-titre {{ i }}</label>
            <input type="text" class="form-control" name="subtitle_{{ i }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Contenu {{ i }}</label>
            <textarea class="form-control" name="contenu_{{ i }}" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Image {{ i }}</label>
            <input type="file" class="form-control" name="image_{{ i }}">
        </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary w-100">Publier</button>
    </form>
</div>

{% endblock %}